In [1]:
import pandas as pd

import numpy as np
from pymcdm.methods import TOPSIS
from pymcdm.helpers import rrankdata

In [2]:
import pymcdm

In [4]:
pymcdm.methods.PROMETHEE_II

TypeError: __init__() missing 1 required positional argument: 'preference_function'

In [4]:
df_ni = pd.read_excel('q2\Dataset Q2 - Projeto Ranking Multicriterio.xlsx')

In [6]:
df_ni.head(5)

,ORDEM COMPLEXA',ELEMENTO ID',RISCO TX,RFW,DETENTOR,TIPO INFRA,TIPO CASA,PLAN ATIV,Quarter,RISCO TX VALOR,RFW VALOR,DETENTOR VALOR,INFRA VALOR,Layers,Projeto,Urgencia
0,pesos,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,0.09,0.0975,0.0675,0.03,0.015,0.35,0.35
1,tipos,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,-1.00,-1.0000,-1.0000,-1.00,1.000,-1.00,-1.00
2,663269,18NLARFS01,BAIXO,Liberado para infra,ATC,Greenfield,CASA EXISTENTE,2022-04-30,Q2,-1.00,-3.0000,-13.0000,-4.00,1.000,12.00,77.00
3,400296,18NLJSJS00,MEDIO,Liberado para infra,TELEMAR,Greenfield,CASA EXISTENTE,2022-06-30,Q2,0.00,-3.0000,9.0000,-4.00,1.000,9.00,77.00
4,636126,3SLCBCB06,ALTO,RFW OK,PHOENIX,Greenfield,NEW SITE,2022-05-30,Q2,1.00,-4.0000,-10.0000,-4.00,6.000,1.00,77.00

In [49]:
weights = np.array(df_ni.iloc[0,9:].astype(float)) # SOMA 1
types = np.array(df_ni.iloc[1,9:].astype(float)) # 1 quanto maior melhor. 
                          #-1, quanto menor, menor.
                          
valores = np.array(df_ni.iloc[2:,9:]) # tirando a coluna com as OCs

In [50]:
weights

array([0.09  , 0.0975, 0.0675, 0.03  , 0.015 , 0.35  , 0.35  ])

In [51]:
types

array([-1., -1., -1., -1.,  1., -1., -1.])

In [53]:
# Create object of the method
topsis = TOPSIS()

In [54]:
# Determine preferences and ranking for alternatives
pref = topsis(valores, weights, types)
ranking_ni = rrankdata(pref)

In [60]:
df_ni = df_ni.iloc[2:,]

In [61]:
df_ni['Ranking'] = ranking_ni

C:\Users\f8058552\Anaconda3\envs\GERAL\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df_ni.to_excel('q2/resultado.xlsx')

# Engenharia

In [52]:
df_eng = pd.read_excel('Priorização_Q2_Engenharia.xlsx')

In [54]:
df_eng.head()

,ORDEM COMPLEXA,COMERCIAL,CORPORATIVO,DEMANDA SAZONAL,INSTITUCIONAL,OBRIGAÇÃO,ACORDOS,EFICIÊNCIA/REMANEJAMENTO,CAPACIDADE,ECQ,COBERTURA
0,604865,MUITO ALTA,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,BAIXA,MEDIA,MUITO ALTA
1,619146,ALTA,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,BAIXA,MEDIA,ALTA
2,633406,MUITO ALTA,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,ALTA,MUITO ALTA,MEDIA,ALTA
3,635945,MUITO ALTA,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,ALTA,MEDIA,MEDIA,ALTA
4,635947,MUITO ALTA,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,ALTA,MEDIA,MEDIA,ALTA

In [56]:
df_eng.replace({'IRRELEVANTE': 0,
            'BAIXA': 1,
            'MEDIA': 2,
            'ALTA': 3,
            'MUITO ALTA': 4}, inplace = True)

In [58]:
weights = np.array([0.10, 0.20, 0.05,0.05,0.2, 0.10, 0.05, 0.10, 0.10, 0.05]) # SOMA 1
types = np.array([1,1,1,1,1,1,1,1,1,1]) # 1 quanto maior melhor. 
                          #-1, quanto menor, menor.
                          
valores = np.array(df_eng.iloc[:,1:]) # tirando a coluna com as OCs  

# Create object of the method
topsis = TOPSIS()        

# Determine preferences and ranking for alternatives
pref = topsis(valores, weights, types)
ranking_eng = rrankdata(pref)

for r, p in zip(ranking_eng, pref):
    print(r, p)

9.0 0.30686426918354864
19.0 0.23883325065179192
2.0 0.39828331206120965
7.5 0.33858812644348063
7.5 0.33858812644348063
1.0 0.598945585621218
17.5 0.2603526044804165
20.0 0.181245531652289
17.5 0.2603526044804165
4.5 0.3756007699708116
3.0 0.3935118241363233
4.5 0.3756007699708116
6.0 0.359225702931191
13.0 0.2642788416911127
13.0 0.2642788416911127
13.0 0.2642788416911127
13.0 0.2642788416911127
13.0 0.2642788416911127
13.0 0.2642788416911127
13.0 0.2642788416911127

In [59]:
df_eng['Ranking'] = ranking_eng

In [67]:
df_eng.iloc[:,0:]

,ORDEM COMPLEXA,COMERCIAL,CORPORATIVO,DEMANDA SAZONAL,INSTITUCIONAL,OBRIGAÇÃO,ACORDOS,EFICIÊNCIA/REMANEJAMENTO,CAPACIDADE,ECQ,COBERTURA,Ranking
0,604865,4,0,0,0,0,0,0,1,2,4,9.0
1,619146,3,0,0,0,0,0,0,1,2,3,19.0
2,633406,4,0,0,0,0,0,3,4,2,3,2.0
3,635945,4,0,0,0,0,0,3,2,2,3,7.5
4,635947,4,0,0,0,0,0,3,2,2,3,7.5
5,666351,4,0,0,0,3,0,0,2,2,3,1.0
6,668651,3,0,0,0,0,0,0,2,2,3,17.5
7,740035,1,0,0,0,0,0,0,2,2,3,20.0
8,744766,3,0,0,0,0,0,0,2,2,3,17.5
9,692086,1,0,0,0,0,3,0,4,2,2,4.5
10,691961,1,0,3,0,0,3,0,4,2,2,3.0
11,692533,1,0,0,0,0,3,0,4,2,2,4.5
12,693741,1,0,0,0,0,0,0,4,4,2,6.0
13,696492,1,0,0,0,0,0,0,4,1,0,13.0
14,696493,1,0,0,0,0,0,0,4,1,0,13.0
15,696647,1,0,0,0,0,0,0,4,1,0,13.0
16,696650,1,0,0,0,0,0,0,4,1,0,13.0
17,696795,1,0,0,0,0,0,0,4,1,0,13.0
18,696797,1,0,0,0,0,0,0,4,1,0,13.0
19,696802,1,0,0,0,0,0,0,4,1,0,13.0

df_eng.to_clipboad(index=false)

In [69]:
#df_eng.to_clipboard()
df.to_clipboard()

In [78]:
df_teste = pd.read_excel('resultado_teste.xlsx')

weights = np.array([0.3, 0.7]) # SOMA 1
types = np.array([-1,-1]) # 1 quanto maior melhor. 
                          #-1, quanto menor, menor.
                          
valores = np.array(df_teste.iloc[:,1:]) # tirando a coluna com as OCs  

# Create object of the method
topsis = TOPSIS()        

# Determine preferences and ranking for alternatives
pref = topsis(valores, weights, types)
ranking_test = rrankdata(pref)

for r, p in zip(ranking_test, pref):
    print(r, p)

1.0 0.9306447559633577
2.0 0.776937298917931
3.5 0.7457268013025551
3.5 0.7457268013025551
5.0 0.7013027420776112
7.0 0.6122171147700303
8.0 0.6020552729793955
6.0 0.6662359709378657
11.0 0.48318620491492675
13.0 0.4375860929554611
10.0 0.5452196684020871
9.0 0.5709861937813656
12.0 0.45759843136540673
15.0 0.3296438014653267
16.0 0.3215011479093711
14.0 0.3594621544051927
17.0 0.22797141822288358
18.0 0.2181222853397194
19.0 0.2129675806318757
20.0 0.07044487434955014

In [79]:
df_teste['ranking'] = ranking_test

In [80]:
df_teste.to_clipboard()